<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title> xlib </title>
  <link href="/css/bootstrap.css" rel="stylesheet" crossorigin="anonymous">
  <link href="/css/prism.css" rel="stylesheet" crossorigin="anonymous">
  <script src="/js/bootstrap.bundle.js" crossorigin="anonymous"></script>
  <script src="/js/prism.js" crossorigin="anonymous"></script>
  <link href="/css/customized.css" rel="stylesheet">
  <script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-secondary sticky-top">
		<div class="container-fluid">
			<a class="navbar-brand" style = "margin-left: 20px" href="/">XLibrary</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"	data-target="#navbarResponsive">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a class="nav-link" href="#">About </a>
					</li>
				</ul>	
			</div>
		</div>
	</nav>
	


	<div class="page-content-wrapper container-fluid">	
		<div class="row">
			<div class="content-table-left col-md-4 col-lg-4 col-xl-2 text-light h-100">
					{{ .toc }}
			
			</div>
			<div class="col-md-4 col-lg-4 hidden"><!--hidden spacer--></div>
			<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-5">
				<div class="content mt-4" style="margin-left: 25px; margin-top: 20px;">

					{{ .content }}
					
				</div>
				<div class="footer">
 				 	<p><br><br>---  XLirary  ---<br></p>
				</div>
			</div>
			<div class="col-xl-5">
				<p> TEST </p>
			</div>
			
			
			
		</div>
	</div>


</body>
</html>