<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title> xlib </title>
  <link href="/css/bootstrap.css" rel="stylesheet" crossorigin="anonymous">
  <link href="/css/prism.css" rel="stylesheet" crossorigin="anonymous">
  <script src="/js/bootstrap.bundle.js" crossorigin="anonymous"></script>
  <script src="/js/prism.js" crossorigin="anonymous"></script>
  <link href="/css/customized.css" rel="stylesheet">
  <script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-secondary sticky-top">
		<div class="container-fluid">
			<a class="navbar-brand" style = "margin-left: 20px" href="/">XLibrary</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"	data-target="#navbarResponsive">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a class="nav-link" href="#">About </a>
					</li>
				</ul>	
			</div>
		</div>
	</nav>
	


	<div class="page-content-wrapper container-fluid">	
		<div class="row">
			<div class="content-table-left col-md-4 col-lg-4 col-xl-2 text-light h-100">
			<div class="class-item-wrapper">
				<a class="inline-item">
					<div class="icon-wrapper mr-2 col-sm-1">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill='#ddd' fill-rule="evenodd" d="M0 3.75A.75.75 0 01.75 3h7.497c1.566 0 2.945.8 3.751 2.014A4.496 4.496 0 0115.75 3h7.5a.75.75 0 01.75.75v15.063a.75.75 0 01-.755.75l-7.682-.052a3 3 0 00-2.142.878l-.89.891a.75.75 0 01-1.061 0l-.902-.901a3 3 0 00-2.121-.879H.75a.75.75 0 01-.75-.75v-15zm11.247 3.747a3 3 0 00-3-2.997H1.5V18h6.947a4.5 4.5 0 012.803.98l-.003-11.483zm1.503 11.485V7.5a3 3 0 013-3h6.75v13.558l-6.927-.047a4.5 4.5 0 00-2.823.971z"></path></svg>
				</div>
				<span class="class-item-name">NOTES</span>
				</a>
			</div>
			</div>
			<div class="col-md-4 col-lg-4 hidden"><!--hidden spacer--></div>
			<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-5">
				<div class="content mt-4" style="margin-left: 25px; margin-top: 20px;">
					{{ .content }}
				</div>
				
			</div>
			
			
		</div>
	</div>


</body>
</html>